/* HTML: <div class="loader"></div> */
#songItemActiveIcon {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #343434;
    box-shadow: 0 0 0 0 #0004;
    animation: l2 3s infinite linear;
    position: relative;
}

#songItemActiveIcon:before,
#songItemActiveIcon:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.75s;
}

#songItemActiveIcon:after {
    animation-delay: -1.5s;
}

@keyframes l2 {
    100% {
        box-shadow: 0 0 0 40px #0000
    }
}