* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  overflow: hidden;
  height: 100%;
}